{% extends "base.html" %}


{% block title%}税額計算機β{% endblock %}


{% block style_block %}<!-- page-specific CSS -->{% endblock %}


{% block head_script %}<!-- defer-incapable JS block -->{% endblock %}


{% block content %}
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHoxbUlpaVFrUzZvQzhjdHBpNWNRd3c6MQ" width="760" height="727" frameborder="0" marginheight="0" marginwidth="0">読み込み中...</iframe>
{% endblock %}


{% block footer %}<!-- footer -->{% endblock %}


{% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
