{% extends "base.html" %}


{% block title%}税額計算機β{% endblock %}


{% block style_block %}<!-- page-specific CSS -->{% endblock %}


{% block head_script %}<!-- defer-incapable JS block -->{% endblock %}


{% block content %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>税額計算機β <small>for 大学生</small></h1>
    <p>学生がアルバイトで結構稼いだときに、学生と親にどの程度課税されるのかシミュレーションできます。</p>
    <p><a class="btn btn-primary btn-large" href="detail.php">計算してみる &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span3">
      <h2>はじめに</h2>
      <p>学生のバイトは103万超えたらヤバイとか、130万超えたら保険料が、などとよく聞きますが、実際どれぐらい課税されるのか正確に記述しているサイトはあまり見当たりません。
        そこで、自分の条件を入力することで、控除や親の課税の増分、健康保険料までを計算できるようなシステムを作りました。</p>
    </div>
    <div class="span6">
      <h2>よく言われる税金の壁</h2>
      <div class="row">
        <div class="span2">
          <h3>103万の壁</h3>
          <p>103万(給与所得控除65万＋基礎控除38万)を超えると、親の扶養親族を外れます。これにより、親の扶養控除がなくなり、親に以下の金額が増税されます。</p>
        </div>
        <div class="span2">
          <h3>130万の壁</h3>
          <p>年間130万以上の見込になると健康保険の被扶養者を外れるため、自分で保険に入らなければならなくなります。
            また、130万を超えると勤労学生控除が使えなくなり、学生本人にも所得税がかかります。</p>
        </div>
        <div class="span2">
          <h3>(100万の壁)</h3>
          <p>東京都では、100万を超えると住民税が課税されます。しかし、他と比べると課税額は少なく、手取が急激に少なくなるわけでもないので、壁とはあまり言われていません。</p>
        </div>
      </div>
    </div>
    <div class="span3">
      <h3>更新履歴</h3>
      <dl>
        <dt>2012/11/30</dt><dd>作成</dd>
        <dt>2012/12/03</dt><dd>計算間違いを修正</dd>
        <dt>2012/12/03</dt><dd>入力に合わせてグラフ変動するよう変更</dd>
        <dt>2012/12/29</dt><dd>計算を修正、複数地域の税額に対応</dd>
        <dt>2012/1/13</dt><dd>ソーシャルボタン,コンタクトを追加</dd>
      </dl>
    </div>
  </div>
{% endblock %}


{% block footer %}<!-- footer -->{% endblock %}


{% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
