{% extends "base.html" %}


{% block title%}{% endblock %}


{% block style_block %}<!-- page-specific CSS -->
  <style type="text/css">
    #main {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
{% endblock %}


{% block head_script %}<!-- defer-incapable JS block -->{% endblock %}


{% block content %}
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>税額計算機β <small>for 大学生</small></h1>
    <p>このページは、学生がアルバイトで稼いだ時、学生とその親にどう課税されるのかシミュレーションするために作成されました。</p>
    </p>
    <p><a class="btn btn-primary btn-large" href="detail.php">実際に計算してみる &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span3">
      <h2>はじめに</h2>
      <p>学生のバイトは103万超えたらヤバイとか、130万超えたら保険料が、などとよく聞きますが、実際どれぐらいヤバイのか正確に記述しているサイトはあまり見当たりません。そこで、自分の条件を入力することで、控除や親の課税の増分、健康保険料までを計算できるようなシステムを作りました。</p>
    </div>
    <div class="span7">
      <h2>よく言われる税金の壁</h2>
      <div class="row">
        <div class="span2">
          <h3>103万の壁</h3>
          <p>103万(給与所得控除65万＋基礎控除38万)を超えると、親の扶養親族を外れます。これにより、親の扶養控除がなくなり、親に以下の金額が増税されます。</p>
        </div>
        <div class="span3">
          <h3>130万の壁</h3>
          <p>年間130万以上の見込になると健康保険の被扶養者を外れるため、自分で保険に入らなければならなくなります。
            また、130万を超えると勤労学生控除が使えなくなり、学生本人にも税金がかかります。</p>
        </div>
        <div class="span2">
          <h3>(100万の壁)</h3>
          <p>東京都では、100万を超えると住民税が課税されます。しかし、他の壁と比べると課税額は少なく、手取が急激に少なくなるわけでもないので壁とはあまり言われていません。</p>
        </div>
      </div>
    </div>
    <div class="span2">
      <h3>更新履歴</h3>
      <dl>
        <dt>2012/11/30</dt><dd>作成</dd>
        <dt>2012/12/03</dt><dd>計算間違いを修正</dd>
        <dt>2012/12/03</dt><dd>入力値に合わせてグラフが変動するよう変更</dd>
        <dt>2012/12/29</dt><dd>計算を修正、複数地域の税額に対応</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}<!-- footer -->{% endblock %}


{% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
