<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>税金計算表</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/base.css">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div class="navbar navbar-inverse navbar-fixed-top"><div class="navbar-inner"><div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="#">税額計算表</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="detail.html">Calc</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div></div></div>

  <div class="container" ng-controller="TaxCtrl">

  <!-- Main hero unit for a primary marketing message or call to action -->

  <div class="row">
    <div class="span3">
      <form  class="form-horizontal">
        <fieldset>
          <legend>入力欄</legend>
          <p>以下の僅か4つの項目を入力してください。</p>
          
          <label><abbr title="税引前の金額">給与収入</abbr></label>
          <input type="number" ng-model="tax.yourFullSalaryIncome" placeholder="あなたの給与収入(円)" step="10000" min="0">
          <!--
          <label><abbr title="給与所得控除後の金額. 自動計算される. 修正用">給与所得(分かれば)</abbr></label>
          <input type="number" ng-model="tax.yourSalaryIncome" placeholder="あなたの給与所得(円)" step="10000">
          <label>その他/雑所得（FXなど）</label>
          <input type="number" ng-model="tax.yourOtherIncome" placeholder="その他/雑所得(円)" step="10000">
          -->
          <label>親の課税される所得</label><input type="number" ng-model="tax.yourParentTaxableIncome" placeholder="親の課税される所得(円)" step="10000">
          <label class="checkbox"><input type="checkbox" ng-model="tax.under22">
            <abbr title="親の特定扶養親族">12/31の時点で19歳～22歳</abbr></label>
          <label class="checkbox"><input type="checkbox" ng-model="tax.under20">
            <abbr title="未成年は住民税非課税">(翌年)1/1の時点で未成年</abbr></label>

          <!--
          <span class="help-block">分かれば入力してください.</span>
          <label>親の家族手当</label>
          <input type="number" ng-model="tax.yourParentAllowance" placeholder="親の家族手当(円)" step="10000" value="50000">
          <label class="checkbox"><input type="checkbox">103万を超えると家族の支給が止まる</label>
          <label class="checkbox"><input type="checkbox"><abbr title="親が自営業の場合など">国民健康保険に加入している</abbr></label>
          -->
        </fieldset>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><abbr title="税引前の金額">給与収入</abbr></td>
            <td>{{tax.yourFullSalaryIncome}}</td>
          </tr>
          <tr>
            <td><abbr title="給与所得控除後の金額">給与所得</abbr></td>
            <td>{{tax.yourSalaryIncome}}</td>
          </tr>
          <tr>
            <td>雑収入</td>
            <td>{{tax.yourOtherIncome}}</td>
          </tr>
          <tr>
            <td>合計所得金額</td>
            <td>{{tax.yourIncome}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span3">
      <h3>各種情報</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>勤労学生控除</td>
            <td><abbr title="特定の学校の学生で、合計所得金額65万円以下かつ勤労に基づく所得以外の所得が10万円以下">{{tax.yourStudentDeduction}}</abbr></td>
          </tr>
          <tr>
            <td>親が使える控除</td>
            <td>特定扶養親族 {{tax.under22}}</td>
          </tr>
          <tr>
            <td>親の所得税税率</td>
            <td>{{tax.yourParentIncomeTaxRate}}%</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>所得税 課税額</td>
            <td>{{tax.yourIncomeTax}}</td>
          </tr>
          <tr>
            <td>住民税 課税額</td>
            <td><abbr title="均等割+所得割">{{tax.yourInhabitantTax}}</abbr></td>
          </tr>
          <tr>
            <td>国民健康保険料</td>
            <td>{{tax.insuranceCost}}</td>
          </tr>
          <tr>
            <td>(親)増課税額</td>
            <td>{{tax.yourParentIncrementTax}}</td>
          </tr>
          <tr>
            <td>税金/保険料合計額</td>
            <td>{{tax.yourIncomeTax +tax.yourInhabitantTax + tax.insuranceCost+ tax.yourParentIncrementTax}}</td>
          </tr>
          <tr>
            <td>実質手取</td>
            <td>{{tax.yourFullSalaryIncome -(tax.yourIncomeTax +tax.yourInhabitantTax + tax.insuranceCost+ tax.yourParentIncrementTax)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3>グラフ</h3>
      <div id="chart_div"></div>
      <p><a class="btn" href="#detail">詳細 &raquo;</a></p>
    </div>
  </div>

  <div class="row"> 
    <h2 id="detail">詳細</h2>
    <div class="span3">
      <h3>所得税</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>合計所得金額</td>
            <td>{{tax.yourIncome}}</td>
          </tr>
          <tr>
            <td>控除の金額</td>
            <td><abbr title="基礎控除38万+勤労学生控除27万">{{tax.yourDeduction}}</abbr></td>
          </tr>
          <tr>
            <td>課税される所得金額</td>
            <td>{{tax.yourTaxableIncome}}</td>
          </tr>
          <tr>
            <td>所得税 税率</td>
            <td>{{tax.yourIncomeTaxRate}}%</td>
          </tr>
          <tr>
            <td>所得税 課税額</td>
            <td>{{tax.yourIncomeTax}}</td>
          </tr>
        </tbody>
      </table>
      <p><a class="btn" href="http://www.nta.go.jp/taxanswer/shotoku/1410.htm" target="_blank">詳細 &raquo;</a></p>
    </div>
    <div class="span3">
      <h3>住民税</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>合計所得金額</td>
            <td>{{tax.yourIncome}}</td>
          </tr>
          <tr>
            <td>課税対象</td>
            <td><abbr title="所得割・均等割(合計所得金額が35万以下,または未成年で125万以下なら課税対象外)">{{tax.yourResidentTaxableNeed}}</abbr></td>
          </tr>
          <tr>
            <td>控除の金額</td>
            <td><abbr title="基礎控除33万+勤労学生控除26万">{{tax.yourResidentTaxableDeduction}}</abbr></td>
          </tr>
          <tr>
            <td>課税される所得金額</td>
            <td>{{tax.yourResidentTaxableIncome}}</td>
          </tr>
          <tr>
            <td>均等割 課税額</td>
            <td>{{tax.yourInhabitantTaxOnPerCapitaBasis}}</td>
          </tr>
          <tr>
            <td>住民税 税率</td>
            <td><abbr title="市町村民税(23区は特別区民税)6% + 都道府県民税4%">10%</abbr></td>
          </tr>
          <tr>
            <td>住民税 課税額</td>
            <td><abbr title="均等割+所得割">{{tax.yourInhabitantTax}}</abbr></td>
          </tr>
        </tbody>
      </table>
      <p>翌年に課税されます</p>
      <p><a class="btn" href="http://www.city.shinjuku.lg.jp/hoken/file04_03_00001.html" target="_blank">詳細 &raquo;</a></p>
    </div>
    <div class="span3">
      <h3>保険料</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>課税対象</td>
            <td>{{tax.yourInsuranceCostNeed}}</td>
          </tr>
          <tr>
            <td>賦課のもととなる所得金額</td>
            <td>{{tax.insuranceIncome}}</td>
          </tr>
          <tr>
            <td>経過措置による減額後金額</td>
            <td>{{tax.insuranceIncome2}}</td>
          </tr>
          <tr>
            <td>医療分保険料</td>
            <td>{{tax.medicalInsurance}}</td>
          </tr>
          <tr>
            <td>後期高齢者支援金等賦課額</td>
            <td>{{tax.supportInsurance}}</td>
          </tr>
          <tr>
            <td>国民健康保険料</td>
            <td>{{tax.insuranceCost}}</td>
          </tr>
        </tbody>
      </table>
      <p>保険料は地域や年度によって異なります。新宿区の計算方法をもとに算出しています。</p>
      <p><a class="btn" href="http://www.city.shinjuku.lg.jp/hoken/file02_03_00001.html" target="_blank">詳細 &raquo;</a></p>
    </div>
    <div class="span3">
      <h3>親への課税額</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名称</th>
            <th>金額(円)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>(親)課税される所得金額</td>
            <td>{{tax.yourParentTaxableIncome}}</td>
          </tr>
          <tr>
            <td>(親)所得税税率</td>
            <td>{{tax.yourParentIncomeTaxRate}}%</td>
          </tr>
          <tr>
            <td>(親)所得税控除の減少額</td>
            <td>{{tax.yourParentIncomeTaxDeduction}}</td>
          </tr>
          <tr>
            <td>(親)住民税控除の減少額</td>
            <td>{{tax.yourParentInhabitantTaxDeduction}}</td>
          </tr>
          <tr>
            <td>(親)増課税額</td>
            <td>{{tax.yourParentIncrementTax}}</td>
          </tr>
        </tbody>
      </table>
      <p><a class="btn" href="http://www.nta.go.jp/taxanswer/shotoku/1180.htm" target="_blank">詳細 &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
  <p>&copy; pianokko 2012</p>
  </footer>

  </div> <!-- /container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

  <script src="https://www.google.com/jsapi"></script>
  <script src="js/calcTax2.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/underscore.min.js"></script>
  <script src="js/angularScript.js"></script>
  <script src="js/main.js"></script>
  

<!--
  <script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
-->
</body>
</html>
